<!DOCTYPE html>
<!DOCTYPE html>
<html>
<head>
	<title>file upload</title>
</head>
<body>
	<h2>File Upload</h2>
	<form method="POST" action="/img">
		<!-- <input type="text" name="name"><br><br> -->
		<input type="file" name="file" id="file"><br><br>
		<input type="submit" name="submit" value="Submit">
	</form>
</body>
</html>